.footer {
    background-color:$dark-green;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    .footer__container{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        .footer__nav{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            margin-right: 12.5rem;
            .footer__nav__list{
                display: flex;
                gap: 4rem;
                .footer__nav__item{
                    .footer__nav__link{
                        color: $white-color;
                        transition: 0.3s;
                        &:hover{
                            color: $light-coral;
                        }
                    }
                }
            }
        }
        .footer__contact{
            address{
                display: flex;
                flex-direction: column;
                .footer__contact__link{
                    color: $white-color;
                    font-style: normal;
                    opacity: 0.6000000238418579;
                }
            }
        }
        .footer__social{
            text-align: right;
            margin-left: auto;
            .footer__social__icons{
                margin-bottom: 5rem;
                .footer__social__icon{
                    &:hover svg path{
                        fill: $light-coral;
                    }
                }
            }
            .footer__social__text{
                opacity: 0.6000000238418579;
            }
        }
    }
}

@media screen and (max-width:768px){
    .footer{
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
        .footer__container{
            .footer__nav{
                .footer__logo{
                    margin-bottom: 1rem;
                }
            }
            .footer__contact{
                margin-left: auto;
                // margin-bottom: 3.2rem;
                address{
                    text-align: right;
                }
            }
            .footer__social{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-top: 3.2rem;
                padding-bottom: 0;
                .footer__social__text{
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width:495px) {
    .footer{
        padding-top: 6.6rem;
        padding-bottom: 6.4rem;
        .footer__container{
            flex-direction: column;
            .footer__nav{
                margin-left: auto;
                margin-right: auto;
                align-items: center;
            }
            .footer__contact{
                margin-left: auto;
                margin-right: auto;
                address{
                    text-align: center;
                }
            }
            .footer__social{
                margin-left: auto;
                margin-right: auto;
                flex-direction: column;
                max-width: 255px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:375px) {
    .footer{
        .footer__container{
            .footer__nav{
                margin-bottom: 2.4rem;
                .footer__logo__img{
                    width: 96px;
                    height: 24px;
                }
            }
            .footer__social{
                .footer__social__icons{
                    margin-bottom: 1.6rem;
                }
            }
        }
    }
}